<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.mapper.AdminMapper">

	<!-- 상품 등록 -->
	<insert id="goodsEnroll">
	<selectKey resultType="int" keyProperty="itemId" order="AFTER">
  		
  			SELECT MAX(itemId) FROM SHOP_ITEM
  		
  		</selectKey>
	<![CDATA[
      insert into SHOP_ITEM(itemId, itemCode, itemName, itemPrice, itemInfo)
      values(item_num.nextval, #{itemCode}, #{itemName},#{itemPrice},#{itemInfo})
	]]>
	</insert>

	<!-- 상품 리스트 -->
	<select id="goodsGetList" resultType="com.mall.model.ItemVO">

          <![CDATA[
        select * from(
   	select rownum as rn, itemid,itemcode, itemname, itemprice, iteminfo, regDate from shop_item
	where
        ]]>

		<if test="keyword != null">

			itemName like '%' || #{keyword} || '%' and

		</if>

        <![CDATA[
            rownum <= #{pageNum}*#{amount} 
  ]]>
		)
  <![CDATA[
        where rn > (#{pageNum} - 1) * #{amount}
          ]]>
	</select>


	<!-- 상품 총 개수 -->
	<select id="goodsGetTotal" resultType="int">
  	<![CDATA[
  		select count(*) from shop_item
  		]]>
		<if test="keyword != null">

			where itemname like '%' || #{keyword} || '%'
		</if>

	</select>

	<!-- 상품 조회 페이지 -->
	<select id="goodsGetDetail" resultType="com.mall.model.ItemVO">
	<![CDATA[
		SELECT * FROM SHOP_ITEM WHERE ITEMID = #{itemId}
	]]>
	</select>

	<!-- 상품 정보 수정 -->
	<update id="goodsModify">
	<![CDATA[
		update shop_item set itemCode=#{itemCode}, itemName=#{itemName}, itemPrice=#{itemPrice},itemInfo=#{itemInfo},updateDate=sysdate where itemId=${itemId}
	]]>
	</update>

	<!-- 상품 정보 삭제 -->
	<delete id="goodsDelete">
	<![CDATA[
	DELETE from shop_item where ITEMID = #{ITEMID}
	]]>
	</delete>
	
	<!-- 이미지 등록 -->
	<insert id="imageEnroll">
	<![CDATA[
		insert into vam_image(itemId, fileName, uploadPath, uuid) values (#{itemId}, #{fileName}, #{uploadPath}, #{uuid})
	]]>
	</insert>
	
	<!-- 지정 상품 이미지 정보 얻기 -->
	<select id="getAttachInfo" resultType="com.mall.model.AttachImageVO">
	
		select * from vam_image where itemId = #{itemId}
	
	</select>
	
	<!-- 지정 상품 이미지 전체 삭제 --> 
	<delete id="deleteImageAll">
	
		delete FROM vam_image where itemId = #{itemId}
	
	</delete>
	
	<!-- 어제자 날자 이미지 리스트 -->
	<select id="checkFileList" resultType="com.mall.model.AttachImageVO">
	
		select * from vam_image where uploadpath = to_char(sysdate -1, 'yyyy\mm\dd')	
	
	</select>

</mapper>