<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.mapper.MemberMapper">

	<!-- adminCk는 일반회원 등록을 디폴트값으로 지정하기 위해 0으로 삽입함 -->
	<insert id="memberJoin">
		<![CDATA[
			INSERT INTO SHOP_MEMBER VALUES(#{memberId}, #{memberPw}, #{memberName}, #{memberPhone},
								#{memberMail}, #{memberBirth}, #{memberAddr1}, #{memberAddr2}, #{memberAddr3}, 0)
		]]>
	</insert>

	<!-- id 중복 검사 -->
	<select id="idCheck" resultType="int">
		<![CDATA[
		SELECT COUNT(*) FROM SHOP_MEMBER WHERE MEMBERID = #{memberId}
		]]>
	</select>

	<!-- 로그인 / memberId, memberName, adminCk 열을 조회할 것 -->
	<select id="memberLogin" resultType="com.mall.model.MemberVO">
		<!-- 기존 코드 SELECT MEMBERID, MEMBERNAME, ADMINCK FROM SHOP_MEMBER WHERE 
			MEMBERID = #{memberId} AND MEMBERPW = #{memberPw} -->
		<![CDATA[
		SELECT MEMBERID, MEMBERPW, MEMBERNAME, MEMBERPHONE, MEMBERBIRTH, MEMBERMAIL, MEMBERADDR1, MEMBERADDR2, MEMBERADDR3, ADMINCK FROM SHOP_MEMBER WHERE MEMBERID = #{memberId}
		]]>
	</select>
	<!-- 내 정보 조회 -->
	<select id="readMember">
		select MEMBERID, MEMBERNAME, MEMBERPHONE,
		MEMBERBIRTH, MEMBERMAIL, MEMBERADDR1, MEMBERADDR2, MEMBERADDR3 from
		shop_member where MEMBERID = #{memberId}
	</select>

	<!-- 회원 탈퇴 -->
	<delete id="deleteMember">
		delete from shop_member where MEMBERID = #{memberId}
	<!-- and MEMBERPW = #{memberPw}  -->
	</delete>

	<!-- 패스워드 체크 -->
	<select id="passChk" resultType="int">
		SELECT COUNT(*) FROM shop_member
		WHERE MEMBERID = #{memberId}
	 	AND MEMBERPW = #{memberPw}
	</select>


</mapper>
